body {
    font-family: sans-serif;
}

button {
    margin-top: 7px;
    margin-bottom: 7px;
}

h2, h3 {
    font-size: 17px;
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    margin-top: 7px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.forecast{
    padding-top: 11px;
    display:inline-block;
    background-color: lightsteelblue;
    width:200px;
    height:145px;
    border: 1px solid blue;
}

.header {
    text-align: center;
    background-color: blue;
    color: white;
    margin-bottom: 2%;
    padding-top:7px;
    padding-bottom: 7px;
}

.left, .right, .center {
    margin-top: 1%;
    margin-left:2%;
    margin-right:2%;
    text-align: center;
    background-color: white;
    padding-top: 11px;
    display: inline-block;
    height: 90%;
    width: 27%;
    border: 1px solid blue;
}
