body {
    font-family: sans-serif;
}

button {
    margin-top: 7px;
    margin-bottom: 7px;
}

h2 {
    font-size: 27px;
    text-align: center;
}

h3 {
    font-size: 17px;
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    margin-top: 7px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.forecast{
    display:inline-block;
    background-color: lightsteelblue;
    width:17%;
    height:300px;
    border: 1px solid blue;
}

.header {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 5px;
    margin-bottom: 2%;
}

.left-top {
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    background-color: white;
    padding: 7px;
    display: block;
    height: 785px;
    width: 175px;
    float: left;
    border: 1px solid blue;
}

.right-bottom {
    margin-top:1%;
    text-align: center;
    background-color: white;
    padding: 7px;
    display: inline-block;
    height: 450px;
    border: 1px solid blue;
    width: 75%;
}

.right-top {
    background-color: lightgrey;
    margin-top:1%;
    text-align: center;
    background-color: white;
    padding: 7px;
    display: inline-block;
    height: 300px;
    border: 1px solid blue;
    width: 75%;
}

